{% extends 'base.html' %}
{% block content %}
<main>
    <div class="col w-50">
        <h3 class="display-4">Ingresa aquí</h3>
        <form action="iniciar_sesion" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="correo">Correo:</label>
                <input class="form-control" type="email" name="correo" id="correo">
            </div>
            <div class="form-group">
                <label for="clave">Contraseña:</label>
                <input class="form-control" type="password" name="clave" id="clave">
            </div>
            <button class="btn btn-info my-2" type="submit">Ingresar</button>
        </form>
    </div>
</main>
{% endblock %}