{% extends 'base.html' %}
{% block content %}
<main>
    <div class="col w-50">
        <div>            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tag }}"{% endif %}>{{ message }}</li>                         
                    {% endfor %}
                </ul>
            {% endif %}                   
        </div>
        <h3 class="display-4">Crea una cuenta aquí</h3>
        <form action="registro" method="post">
            {% csrf_token %}
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" class="form-control">
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" class="form-control">
            <label for="correo">Email:</label>
            <input type="email" name="correo" id="correo" class="form-control">
            <label for="clave">Password:</label>
            <input type="password" name="clave" id="clave" class="form-control">
            <label for="clave_rep">Confirma tu password:</label>
            <input type="password" name="clave_rep" id="clave_rep" class="form-control">
            <button class="btn btn-info my-2" type="submit">Ingresar</button>
        </form>
    </div>
</main>
{% endblock %}