{% extends 'base.html' %}
{% block content %}
<main>
    <div>
        <h3 class="display-4">Gestionar usuarios</h3>
        <a class="btn btn-info" href="#">Agregar usuario</a>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre Completo</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Fecha de registro</th>
                    <th scope="col">Administrador</th>    
                    <th scope="col">Acciones</th>               
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <th scope="row">{{ usuario.id }}</th>
                    <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.created_at }}</td>
                    <td>{{ usuario.admin }}</td>
                    <td>Editar / Eliminar</td>
                </tr>                    
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}