* {
    border:0;
    margin:0;
    padding:0;
}

.errorlist {
    color: red;
    font-size: 12px;
}

label {
    width:140px;
    display: inline-block;
    vertical-align: top;
}

input {
    border: 1.5px solid lightgray;
    border-radius: 5px;
}

textarea {
    border: 1.5px solid lightgray;
    border-radius: 5px;
}

p {
    margin: 5px;
}
